.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}