.profile__edit-button {
    background-image: url("../../../images/pen.svg");
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    grid-area: button;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}