.grid {
    display: grid;
    width: 80%;
    height: 600px;
    background-color: rgb(223, 236, 222);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.about-me {
    grid-column: 1/3;
    grid-row: 1/2;
}

.description {
    grid-column: 3/5;
    grid-row: 1/2;
}

.control {
    grid-column: 3/4;
    grid-row: 2/3; 
}

.response {
    grid-column: 4/5;
    grid-row: 2/3; 
}

.diligence {
    grid-column: 3/4;
    grid-row: 3/4;  
}

.quality {
    grid-column: 4/5;
    grid-row: 3/4;  
}