.page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 200px 200px 100px;
    grid-template-areas: 
    "header header header header header header header header header header"
    ". . main-content main-content main-content main-content side-bar side-bar . ."
    ". . twin-one twin-one twin-one twin-two twin-two twin-two . ."
    "footer footer footer footer footer footer footer footer footer footer";
}

.header {
    grid-area: header;
}

.main-content {
    grid-area: main-content;
}

.side-bar {
    grid-area: side-bar;
}

.twin-one {
    grid-area: twin-one;
}

.twin-two {
    grid-area: twin-two;
}

.footer {
    grid-area: footer;
}