.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80%;
    height: 600px;
    background-color: rgb(224, 233, 211);
}

.centered-container {
    margin: 0 auto;
}

.container__card {
    width: 200px;
    border: 1px dashed blue;
}

.container__image {
    width: 100%;
}