body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}



.content__image {
  text-align: center;
  margin: 110px calc((100% - 520px)/2) 0;
  width: 520px;
  height: 190px;
}

.content__heading {
  font-size: 130px;
  text-align: center;
  margin: 0;
}

.content__paragpaph {
  margin: 22px auto 0;
  width: 420px;
}

.footer__text {
  text-align: center;
  width: 420px;
  margin: 280px auto 30px;
}

.footer__link {
  color: #2f80ed;
}