section {
    padding: 50px 0;
}

.carousel-control-prev-icon {
    background-image: url('../images/arrow-left.svg');
}

.carousel-control-next-icon {
    background-image: url('../images/arrow-right.svg');
}

.carousel-control-prev, .carousel-control-next {
    width: 20px;
}

.carousel-control-prev {
    left: -35px;
}

.carousel-control-next {
    right: -35px;
}

.carousel-section {
    padding:  0 35px;
};
