.profile {
    display: flex;
    width: 100%;
    max-width: 880px;
    min-height: 120px;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    margin: 40px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .profile {
        flex-direction: column;
        max-width: 282px;
        margin: 40px 0 0 0;
        align-items: center;
    }
}