.input {
    outline: 1px solid grey;
    margin: 5px 0;
    max-width: 300px;
    width: 70%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.inputCorrect {
    outline: 1px solid green;
}

.inputIncorrect {
    outline: 1px solid red;
}

.counting {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}