.popup__button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 2px;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 48px;
  }
  
  .popup__button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  