.header__logo {
    width: 142px;
    height: 33px;
    background-image: url("../../../images/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 880px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-left: 27px;
    }
}