.header {
    width: 100%;
    max-width: 880px;
    min-height: 73px;
    margin: 45px 0 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
    .header {
        min-height: 56px;
        margin: 28px 0 0 0;
    }    
}