.feinman__link {
    line-height: 51px;
    font-size: 36px;
    position: absolute;
    top: 50%;
    right: 0;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity .3s ease-out;
}

.feinman__link:hover {
    opacity: .3;
}