.profile__add-button {
    background-image: url("../../../images/plus.svg");
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    align-self: center;
    transition: opacity .3s;
}

.profile__add-button:hover {
    opacity: .5;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
    .profile__add-button {
        margin-top: 41px;
        margin-right: 27px;
        width: 100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__add-button {
        margin-top: 41px;
        width: 100%;
    }
}

