.card__like-button {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like-icon.svg");
    border: none;
    background-color: transparent;
    transition: opacity linear .3s;
}

.card__like-button:hover {
    opacity: .5;
}