.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 100vh; /* TODO: потом удалить */
  background-color: #3b4758 ;
  color: white;
}