.places__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    gap: 20px 17px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .places__list {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .places__list {
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
    }
}