.card__description {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 29px;
    width: 282px;
    height: 79px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
}