.profile__name {
    grid-area: name;
    margin: 0;   
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}