.profile__description {
    grid-area: description;
    margin: 0;
    align-self: start;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 767px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
    .profile__description {
        margin: 0;
        text-align: center;
    }
}