.profile__avatar {
    width: 120px;
    height: 120px;
    background-image: url("../../../images/avatar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    flex-shrink: 0;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-left: 27px;
    }
}


@media screen and (min-width: 320px) {
    .profile__avatar {
        margin: 0;
    }
}