.profile__info {
    display: grid;
    grid-template-areas: 
    "name button"
    "description .";
    grid-template-columns: minmax(auto, 295px) auto;
    column-gap: 17px;
    align-items: center;
    margin: 13px auto 0 31px;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
    .profile__info {
        grid-template-columns: minmax(auto, 200px) auto;
        margin: 26px auto 0 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__info {
        grid-template-columns: minmax(auto, 190px) auto;
        margin: 26px auto 0 auto;
    }
}

/* @media screen and (min-width: 320px) {
    .profile__info {
        grid-template-columns: minmax(auto, 190px) auto;
        margin: 13px auto 0 auto;
    }
} */