.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    background-image: url("../../../images/triangle.svg");
    background-size: cover;
    z-index: -1;
}
