.feinman {
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
    background-image: url("../../images/feinman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
}