.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f2f2f2
}

.header__title {
    margin-left: 64px;
    max-width: 730px;
    font-size: 102px;
    line-height: 96px;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    max-width: 388px;
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}

.logo {
    background-image: url("../images/logo.svg");
    width: 183px;
    height: 32px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-color: #f2f2f2;
}

.description {
    margin: 100px 0;
}

.two-columns {
    width: 80%;
    min-width: 784px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.two-columns__brief {
    max-width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal; 
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph {
    margin: 0;
}

.two-columns__paragraph:nth-child(2n) {
    margin: 30px 0;
}

.two-columns__span-accent {
    font-weight: bold;
}

.digits {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    max-width: 60%;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    margin: 0 auto;
}

.section-title_theme_dark {
    color: white;
    padding: 90px 0 0 0;
}

.section-subtitle {
    max-width: 60%;
    line-height: 34px;
    font-size: 24px;  
    text-align: center;
    margin: 20px auto 0;
}

.section-subtitle_theme_dark {
    color: white;
    margin: 20px auto 0;
}

.table {
    width: 1100px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
}

.table_theme_dark {
    color: white;
    padding-bottom: 90px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    margin: 0 0 20px;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    margin: 20px 0;  
}

.feinman {
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
    background-image: url("../images/feinman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
    padding-top: 100px;
}

.feinman__title {
    max-width: 648px;
    font-size: 120px;
    line-height: 1.15; 
    margin: 0; 
    text-align: center;
}

.feinman__subtitle {
    max-width: 648px;
    font-size: 36px;
    line-height: 51px;  
    margin: 70px 0 0 0; 
    text-align: center;
}

.feinman__link {
    line-height: 51px;
    font-size: 36px;
    position: absolute;
    top: 50%;
    right: 0;
    text-decoration: none;
    color: #2f80ed;
}

.kaufman {
    background: #1F1F1F;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    background-image: url("../images/triangle.svg");
    z-index: -1;
}
