@keyframes rotate {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(345deg);
    }
}

.rotation {
    animation: rotate 20s linear infinite;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
}

.header__title {
    margin-left: 64px;
    max-width: 730px;
    font-size: 102px;
    line-height: 96px;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    max-width: 388px;
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
    transition: opacity .3s ease-out;
}

.header__link:hover {
    opacity: .3;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}

.logo {
    width: 183px;
    height: 32px;
    background-size: cover;
}

.logo_place_header {
    background-image: url("../images/logo.svg");
    position: absolute;
    top: 30px;
    left: 64px;
    background-color: #f2f2f2;
}

.logo_place_footer {
    background-image: url("../images/logo_white.svg");
    width: 183px;
    height: 35px;
}

.description {
    margin: 100px 0;
}

.two-columns {
    width: 80%;
    min-width: 784px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.two-columns__brief {
    max-width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal; 
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph {
    margin: 0;
}

.two-columns__paragraph:nth-child(2n) {
    margin: 30px 0;
}

.two-columns__span-accent {
    font-weight: bold;
}

.technins {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cards {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto 100px;
    padding: 0;
}

.cards__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 100px;
}

.cards__item:nth-child(3n) {
    margin-right: 0;
}

.cards__image {
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px 40px;
    border-radius: 50%;
}

.cards__title {
    line-height: 1.15;
    font-size: 24px;
    margin: 0;
}

.cards__description {
    line-height: 23px;
    font-size: 18px;
    margin: 16px 0 0 0;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
}

.video__iframes {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0;
}

.video__iframe {
    width: 515px;
    height: 316px;
    border: none;
}

.video__iframe:nth-child(2n) {
    margin-left: 20px;
}

.oakley {
    padding: 160px 0 80px 0;
    background-color: #f2f2f2;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.section-title {
    max-width: 60%;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    margin: 0 auto;
}

.section-title_theme_dark {
    color: white;
    padding: 90px 0 0 0;
}

.section-subtitle {
    max-width: 60%;
    line-height: 34px;
    font-size: 24px;  
    text-align: center;
    margin: 20px auto 0;
}

.section-subtitle_theme_dark {
    color: white;
    margin: 20px auto 0;
}

.table {
    width: 1100px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
}

.table_theme_dark {
    color: white;
    padding-bottom: 90px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    margin: 0 0 20px;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    margin: 20px 0;  
}

.khan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding-top: 105px;
}

.khan__container {
    width: 80%;
}

.khan__author {
    line-height: 42px;
    font-size: 30px;
    margin: 0; 
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    margin: 0 0 50px 0;  
}

.khan__quoote {
    width: 790px;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}

.khan__quote-author {
    margin-top: 36px;
    font-size: 24px;
    line-height: 1.15;
} 

.khan__quoote-author-subline {
    margin: 10px 0 68px 0;
    line-height: 1.15;
    font-size: 24px;  
}

.khan__book-container {
    display: flex;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    object-fit: cover;
    object-position: top;
}

.khan__buy-link {
    color: #2f80ed;
    text-decoration: none;
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    transition: opacity .3s ease-out;
    align-self: start;
}

.khan__buy-link:hover {
    opacity: .3;
}

.feinman {
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
    background-image: url("../images/feinman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
}

.feinman__title {
    max-width: 648px;
    font-size: 120px;
    line-height: 1.15; 
    margin: 0; 
    text-align: center;
}

.feinman__subtitle {
    max-width: 648px;
    font-size: 36px;
    line-height: 51px;  
    margin: 70px 0 0 0; 
    text-align: center;
}

.feinman__link {
    line-height: 51px;
    font-size: 36px;
    position: absolute;
    top: 50%;
    right: 0;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity .3s ease-out;
}

.feinman__link:hover {
    opacity: .3;
}

.kaufman {
    background: #1F1F1F;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    background-image: url("../images/triangle.svg");
    background-size: cover;
    z-index: -1;
}

.resourses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.resourses__logo-zone {
    width: 1100px;
    display: flex;
    margin: 80px auto 217px;
}

.resourses__logo {
    width: 270px;
    height: 38px;
    transition: opacity .3s ease-out;
    transition: transform .3s ease-out;
}

.resourses__logo:hover {
    transform: scale(1.2);
    opacity: .3;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 60px 0 40px 0;
    background-color: #1F1F1F;
    color: white;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 350px;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__column_content_copyright {
    justify-content: space-between;
    flex-basis: 711px;
}

.footer_author {
    margin: 18px 0;
    font-size: 18px;
    line-height: 25px;
}

.footer__column-heading {
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 30px;
}

.footer__column-items {
    list-style-type: none;
    padding: 0;
    margin: 0 0 16px 0;
}

.footer__column-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 30px;
    transition: opacity .3s ease-out;
}

.footer__column-link:hover {
    opacity: .3;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}